# Libraries and Dependencies

In [1]:
pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: numpy in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: matplotlib in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (3.8.4)
Requirement already satisfied: seaborn in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (2.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [111]:
import os
import pandas as pd
import re

# Directories

In [3]:
# Get current working directory
current_directory = os.getcwd()

# Define the data directory path
data_directory = os.path.join(current_directory, "data")

# Data overview

In [18]:
# List all CSV files in the data directory
csv_files = [f for f in os.listdir(data_directory) if f.endswith('.csv')]

## df1 : 1990 - 1999

In [63]:
first_file = csv_files[0]  # Get the first CSV file
file_path = os.path.join(data_directory, first_file)

# Read into DataFrame
df1 = pd.read_csv(file_path)

# Print file name and its content
print(f"File at Index 0: {first_file}")
df1

File at Index 0: resale-flat-prices-based-on-approval-date-1990-1999.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200
...,...,...,...,...,...,...,...,...,...,...
287195,1999-12,YISHUN,EXECUTIVE,611,YISHUN ST 61,10 TO 12,142.0,APARTMENT,1987,456000
287196,1999-12,YISHUN,EXECUTIVE,324,YISHUN CTRL,01 TO 03,142.0,APARTMENT,1988,408000
287197,1999-12,YISHUN,EXECUTIVE,392,YISHUN AVE 6,07 TO 09,146.0,MAISONETTE,1988,469000
287198,1999-12,YISHUN,EXECUTIVE,356,YISHUN RING RD,04 TO 06,146.0,MAISONETTE,1988,440000
287199,1999-12,YISHUN,EXECUTIVE,358,YISHUN RING RD,01 TO 03,145.0,MAISONETTE,1988,484000

In [64]:
df1.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price             int64
dtype: object

## df2 : 2000 - 2012

In [65]:
second_file = csv_files[1]  # Get the second CSV file
file_path = os.path.join(data_directory, second_file)

# Read into DataFrame
df2 = pd.read_csv(file_path)

# Print file name and DataFrame
print(f"\nFile at Index 1: {second_file}")
df2

File at Index 1: resale-flat-prices-based-on-approval-date-2000-feb-2012.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0
...,...,...,...,...,...,...,...,...,...,...
369646,2012-02,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,476888.0
369647,2012-02,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,490000.0
369648,2012-02,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,488000.0
369649,2012-02,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,705000.0
369650,2012-02,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,630000.0

In [66]:
df2.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

## df3 : 2015 - 2016

In [67]:
third_file = csv_files[2]  # Get the third CSV file
file_path = os.path.join(data_directory, third_file)

# Read into DataFrame
df3 = pd.read_csv(file_path)

# Print file name and DataFrame
print(f"\nFile at Index 2: {third_file}")
df3

File at Index 2: resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
37148,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
37149,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
37150,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
37151,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
37152,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

In [68]:
df3.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease          int64
resale_price           float64
dtype: object

## df4 : 2017 onwards

In [69]:
fourth_file = csv_files[3]  # Get the fourth CSV file
file_path = os.path.join(data_directory, fourth_file)

# Read into DataFrame
df4 = pd.read_csv(file_path)

# Print file name and DataFrame
print(f"\nFile at Index 3: {fourth_file}")
df4

File at Index 3: resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
80369,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66 years 03 months,440000.0
80370,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65 years 06 months,458000.0
80371,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66 years 04 months,490000.0
80372,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66 years 03 months,558000.0
80373,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66 years 09 months,555000.0

In [70]:
df4.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease         object
resale_price           float64
dtype: object

## df5 : 2012 - 2014

In [71]:
fifth_file = csv_files[4]  # Get the fifth CSV file
file_path = os.path.join(data_directory, fifth_file)

# Read into DataFrame
df5 = pd.read_csv(file_path)

# Print file name and DataFrame
print(f"\nFile at Index 4: {fifth_file}")
df5

File at Index 4: resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0
...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0

In [72]:
df5.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

## Observations
1. df1, df2 and df5 are missing remaining_lease column
2. df4's remaining_lease column has a different format (object) than df3
3. storey_range has different intervals for different dataframes

# Data cleaning

## Check for null values

In [138]:
# Check for null values in each DataFrame
for i, df in enumerate([df1, df2, df3, df4, df5], start=1):
    print(f"df{i} contains null values: {df.isnull().values.any()}")

df1 contains null values: False
df2 contains null values: False
df3 contains null values: False
df4 contains null values: False
df5 contains null values: False

## Calculate remaining_lease

In [139]:
# Function to calculate and insert "remaining_lease" column
def calculate_remaining_lease(df):
    if "month" in df.columns and "lease_commence_date" in df.columns:
        # Extract the year from "month" column
        df["year"] = df["month"].astype(str).str[:4].astype(int)
        
        # Compute remaining lease
        df["remaining_lease"] = 99 - (df["year"] - df["lease_commence_date"])
        
        # Drop temporary "year" column
        df.drop(columns=["year"], inplace=True)
        
        # Move "remaining_lease" to the second last column
        cols = list(df.columns)
        cols.insert(-1, cols.pop(cols.index("remaining_lease")))
        df = df[cols]
    
    return df

# Apply function to only df1, df2 and df5
df1 = calculate_remaining_lease(df1)
df2 = calculate_remaining_lease(df2)
df5 = calculate_remaining_lease(df5)

In [140]:
df1

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,86,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,86,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,86,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,86,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,85,47200
...,...,...,...,...,...,...,...,...,...,...,...
287195,1999-12,YISHUN,EXECUTIVE,611,YISHUN ST 61,10 TO 12,142.0,APARTMENT,1987,87,456000
287196,1999-12,YISHUN,EXECUTIVE,324,YISHUN CTRL,01 TO 03,142.0,APARTMENT,1988,88,408000
287197,1999-12,YISHUN,EXECUTIVE,392,YISHUN AVE 6,07 TO 09,146.0,MAISONETTE,1988,88,469000
287198,1999-12,YISHUN,EXECUTIVE,356,YISHUN RING RD,04 TO 06,146.0,MAISONETTE,1988,88,440000
287199,1999-12,YISHUN,EXECUTIVE,358,YISHUN RING RD,01 TO 03,145.0,MAISONETTE,1988,88,484000

In [141]:
df2

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,85,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,85,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,75,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,75,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,75,163000.0
...,...,...,...,...,...,...,...,...,...,...,...
369646,2012-02,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,72,476888.0
369647,2012-02,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,73,490000.0
369648,2012-02,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,75,488000.0
369649,2012-02,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,79,705000.0
369650,2012-02,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,79,630000.0

In [142]:
df5

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,73,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,67,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,67,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,71,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,67,321000.0
...,...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,73,580000.0
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,73,540000.0
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,77,738000.0
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,70,592000.0
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,70,545000.0

## Change df4's remaining_lease

In [143]:
# Extract only the years from "remaining_lease" column and convert to int64
df4["remaining_lease"] = df4["remaining_lease"].astype(str).str.extract(r'(\d+)').astype("int64")
df4

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
80369,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66,440000.0
80370,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65,458000.0
80371,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66,490000.0
80372,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66,558000.0
80373,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66,555000.0

In [144]:
# Stack all column names and check for differences
columns_df = pd.DataFrame({
    "df1": df1.columns,
    "df2": df2.columns,
    "df3": df3.columns,
    "df4": df4.columns,
    "df5": df5.columns
})

# Check if all columns are identical across DataFrames
if (columns_df.nunique(axis=1) == 1).all():
    print("All DataFrames have the same column names in the same order.")
else:
    print("Mismatch found in column names.")
    print(columns_df)

All DataFrames have the same column names in the same order.

In [145]:
columns_df

,df1,df2,df3,df4,df5
0,month,month,month,month,month
1,town,town,town,town,town
2,flat_type,flat_type,flat_type,flat_type,flat_type
3,block,block,block,block,block
4,street_name,street_name,street_name,street_name,street_name
5,storey_range,storey_range,storey_range,storey_range,storey_range
6,floor_area_sqm,floor_area_sqm,floor_area_sqm,floor_area_sqm,floor_area_sqm
7,flat_model,flat_model,flat_model,flat_model,flat_model
8,lease_commence_date,lease_commence_date,lease_commence_date,lease_commence_date,lease_commence_date
9,remaining_lease,remaining_lease,remaining_lease,remaining_lease,remaining_lease
10,resale_price,resale_price,resale_price,resale_price,resale_price

## Combine dataframes

In [146]:
# Combine df1 to df5 into a single DataFrame chronologically
# df1, df2, df5, df3, df4 (in order of earliest to latest data)
combined_df = pd.concat([df1, df2, df5, df3, df4], ignore_index=True)

In [147]:
combined_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,86,9000.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,86,6000.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,86,8000.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,86,6000.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,85,47200.0
...,...,...,...,...,...,...,...,...,...,...,...
826576,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66,440000.0
826577,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65,458000.0
826578,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66,490000.0
826579,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66,558000.0
826580,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66,555000.0

In [148]:
for value in sorted(combined_df["town"].dropna().unique()):
    print(value)

ANG MO KIO
BEDOK
BISHAN
BUKIT BATOK
BUKIT MERAH
BUKIT PANJANG
BUKIT TIMAH
CENTRAL AREA
CHOA CHU KANG
CLEMENTI
GEYLANG
HOUGANG
JURONG EAST
JURONG WEST
KALLANG/WHAMPOA
LIM CHU KANG
MARINE PARADE
PASIR RIS
PUNGGOL
QUEENSTOWN
SEMBAWANG
SENGKANG
SERANGOON
TAMPINES
TOA PAYOH
WOODLANDS
YISHUN

In [149]:
for value in sorted(combined_df["flat_type"].dropna().unique()):
    print(value)

1 ROOM
2 ROOM
3 ROOM
4 ROOM
5 ROOM
EXECUTIVE
MULTI GENERATION
MULTI-GENERATION

In [150]:
for value in sorted(combined_df["storey_range"].dropna().unique()):
    print(value)

01 TO 03
01 TO 05
04 TO 06
06 TO 10
07 TO 09
10 TO 12
11 TO 15
13 TO 15
16 TO 18
16 TO 20
19 TO 21
21 TO 25
22 TO 24
25 TO 27
26 TO 30
28 TO 30
31 TO 33
31 TO 35
34 TO 36
36 TO 40
37 TO 39
40 TO 42
43 TO 45
46 TO 48
49 TO 51

In [151]:
# Convert all values in the "flat_model" column to uppercase
combined_df["flat_model"] = combined_df["flat_model"].str.upper()

for value in sorted(combined_df["flat_model"].dropna().unique()):
    print(value)

2-ROOM
ADJOINED FLAT
APARTMENT
DBSS
IMPROVED
IMPROVED-MAISONETTE
MAISONETTE
MODEL A
MODEL A-MAISONETTE
MODEL A2
MULTI GENERATION
NEW GENERATION
PREMIUM APARTMENT
PREMIUM APARTMENT LOFT
PREMIUM MAISONETTE
SIMPLIFIED
STANDARD
TERRACE
TYPE S1
TYPE S2

In [152]:
# Function to compute the midpoint for storey_range
def convert_storey_range_to_midpoint(df):
    if "storey_range" in df.columns:
        # Extract the lower and upper storey values
        df[["low", "high"]] = df["storey_range"].str.extract(r'(\d+)\s*TO\s*(\d+)').astype(float)

        # Compute the midpoint
        df["storey_range"] = (df["low"] + df["high"]) / 2

        # Drop the temporary columns
        df.drop(columns=["low", "high"], inplace=True)
    
    return df

# Apply the function to combined_df
combined_df = convert_storey_range_to_midpoint(combined_df)

In [153]:
combined_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,11.0,31.0,IMPROVED,1977,86,9000.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,5.0,31.0,IMPROVED,1977,86,6000.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,11.0,31.0,IMPROVED,1977,86,8000.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,8.0,31.0,IMPROVED,1977,86,6000.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,5.0,73.0,NEW GENERATION,1976,85,47200.0
...,...,...,...,...,...,...,...,...,...,...,...
826576,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,8.0,131.0,IMPROVED,1987,66,440000.0
826577,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,8.0,122.0,IMPROVED,1987,65,458000.0
826578,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,5.0,122.0,IMPROVED,1987,66,490000.0
826579,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,5.0,146.0,MAISONETTE,1987,66,558000.0
826580,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,5.0,146.0,MAISONETTE,1988,66,555000.0

In [154]:
for value in sorted(combined_df["storey_range"].dropna().unique()):
    print(value)

2.0
3.0
5.0
8.0
11.0
13.0
14.0
17.0
18.0
20.0
23.0
26.0
28.0
29.0
32.0
33.0
35.0
38.0
41.0
44.0
47.0
50.0

In [155]:
# Convert "month" column to datetime format
combined_df["month"] = pd.to_datetime(combined_df["month"], format="%Y-%m")

# Extract year and month into separate columns
combined_df["year"] = combined_df["month"].dt.year
combined_df["month"] = combined_df["month"].dt.month

# Reorder columns so "year" is first and "month" is second
column_order = ["year", "month"] + [col for col in combined_df.columns if col not in ["year", "month"]]
combined_df = combined_df[column_order]

combined_df

,year,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,1990,1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,11.0,31.0,IMPROVED,1977,86,9000.0
1,1990,1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,5.0,31.0,IMPROVED,1977,86,6000.0
2,1990,1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,11.0,31.0,IMPROVED,1977,86,8000.0
3,1990,1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,8.0,31.0,IMPROVED,1977,86,6000.0
4,1990,1,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,5.0,73.0,NEW GENERATION,1976,85,47200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
826576,2020,9,YISHUN,5 ROOM,716,YISHUN ST 71,8.0,131.0,IMPROVED,1987,66,440000.0
826577,2020,9,YISHUN,5 ROOM,760,YISHUN ST 72,8.0,122.0,IMPROVED,1987,65,458000.0
826578,2020,9,YISHUN,5 ROOM,835,YISHUN ST 81,5.0,122.0,IMPROVED,1987,66,490000.0
826579,2020,9,YISHUN,EXECUTIVE,791,YISHUN AVE 2,5.0,146.0,MAISONETTE,1987,66,558000.0
826580,2020,9,YISHUN,EXECUTIVE,387,YISHUN RING RD,5.0,146.0,MAISONETTE,1988,66,555000.0

In [157]:
combined_df.dtypes

year                     int32
month                    int32
town                    object
flat_type               object
block                   object
street_name             object
storey_range           float64
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease          int64
resale_price           float64
dtype: object