# Libraries and Dependencies

In [1]:
pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: numpy in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: matplotlib in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (3.8.4)
Requirement already satisfied: seaborn in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from -r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (2.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\nigel\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import pandas as pd

# Directories

In [3]:
# Get current working directory
current_directory = os.getcwd()

# Define the data directory path
data_directory = os.path.join(current_directory, "data")

# Visualise data files

In [4]:
# List all CSV files in the data directory
csv_files = [f for f in os.listdir(data_directory) if f.endswith('.csv')]

In [5]:
first_file = csv_files[0]  # Get the first CSV file
file_path = os.path.join(data_directory, first_file)

# Read into DataFrame
df1 = pd.read_csv(file_path)

# Print file name and its content
print(f"File at Index 0: {first_file}")
df1  # Print full DataFrame (use df.head() for large files)

File at Index 0: resale-flat-prices-based-on-approval-date-1990-1999.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200
...,...,...,...,...,...,...,...,...,...,...
287195,1999-12,YISHUN,EXECUTIVE,611,YISHUN ST 61,10 TO 12,142.0,APARTMENT,1987,456000
287196,1999-12,YISHUN,EXECUTIVE,324,YISHUN CTRL,01 TO 03,142.0,APARTMENT,1988,408000
287197,1999-12,YISHUN,EXECUTIVE,392,YISHUN AVE 6,07 TO 09,146.0,MAISONETTE,1988,469000
287198,1999-12,YISHUN,EXECUTIVE,356,YISHUN RING RD,04 TO 06,146.0,MAISONETTE,1988,440000
287199,1999-12,YISHUN,EXECUTIVE,358,YISHUN RING RD,01 TO 03,145.0,MAISONETTE,1988,484000

In [14]:
df1.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price             int64
dtype: object

In [7]:
second_file = csv_files[1]  # Get the second CSV file
file_path = os.path.join(data_directory, second_file)

# Read into DataFrame
df2 = pd.read_csv(file_path)

# ✅ Print file name and DataFrame
print(f"\nFile at Index 1: {second_file}")
df2  # Print full DataFrame (use df2.head() for large files)

File at Index 1: resale-flat-prices-based-on-approval-date-2000-feb-2012.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0
...,...,...,...,...,...,...,...,...,...,...
369646,2012-02,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,476888.0
369647,2012-02,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,490000.0
369648,2012-02,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,488000.0
369649,2012-02,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,705000.0
369650,2012-02,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,630000.0

In [13]:
df2.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

In [8]:
third_file = csv_files[2]  # Get the third CSV file
file_path = os.path.join(data_directory, third_file)

# Read into DataFrame
df3 = pd.read_csv(file_path)

# ✅ Print file name and DataFrame
print(f"\nFile at Index 2: {third_file}")
df3  # Print full DataFrame (use df3.head() for large files)

File at Index 2: resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
37148,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
37149,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
37150,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
37151,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
37152,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

In [9]:
df3.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease          int64
resale_price           float64
dtype: object

In [10]:
fourth_file = csv_files[3]  # Get the fourth CSV file
file_path = os.path.join(data_directory, fourth_file)

# Read into DataFrame
df4 = pd.read_csv(file_path)

# ✅ Print file name and DataFrame
print(f"\nFile at Index 3: {fourth_file}")
df4  # Print full DataFrame (use df4.head() for large files)

File at Index 3: resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
80369,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66 years 03 months,440000.0
80370,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65 years 06 months,458000.0
80371,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66 years 04 months,490000.0
80372,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66 years 03 months,558000.0
80373,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66 years 09 months,555000.0

In [11]:
df4.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease         object
resale_price           float64
dtype: object

In [12]:
fifth_file = csv_files[4]  # Get the fifth CSV file
file_path = os.path.join(data_directory, fifth_file)

# Read into DataFrame
df5 = pd.read_csv(file_path)

# ✅ Print file name and DataFrame
print(f"\nFile at Index 4: {fifth_file}")
df5  # Print full DataFrame (use df5.head() for large files)

File at Index 4: resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0
...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0

In [15]:
df5.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

df1 : 1990 - 1999

df2 : 2000 - 2012

df3 : 2015 - 2016

df4 : 2017 onwards

df5 : 2012 - 2014

# Data cleaning